{% extends 'base.html.twig' %}

{% block body %}
    <h2>Detail of a TV-SHOW</h2>
    <div class="button-bar">
        <a class="button-links" href="{{ path('series_update',{'id': serie.id}) }}">Update Serie</a>
        <a class="button-links" onclick="return confirm('suppression de {{ serie.name }} ?')" href="{{ path('series_delete',{'id': serie.id}) }}">Delete Serie</a>
        <a class="button-links" href="{{ path('season_add_by_serie',{'id': serie.id}) }}">Add a Season</a>
    </div>

    <div class="serie-details">
        <div>
            <img  class="img-details" src="{{ asset('images/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </div>
        <div class="serie-details-infos">
            <h2>{{ serie.name }}</h2>
            <div>User ratings : {{ serie.vote }}</div>
            <div>Categorized in {{ serie.genres }}</div>
            <div>Status : {{ serie.status }}</div>
            <div>Aired from {{ serie.firstAirDate | date('Y/m/d') }} to {{ serie.lastAirDate | date('Y/m/d') }}</div>
            <div>{{ serie.overview | nl2br }}</div>
            <div>Likes: <span id="serie-like"> {{ serie.nblike }}</span>
                <button class="btn-Like" value="1">&#128077</button>
                <button class="btn-Like" value="-1">&#128078</button></div>
        </div>
    </div>
    <div class="seasons">
        <h3>Season</h3>

        {% for season in serie.seasons %}
    <article>
        <br>
        <a class="button-links" href="{{ path('season_delete', {'id': season.id}) }}">Delete the Season</a>
        <br>
        <img src="{{ asset('images/posters/seasons/' ~ season.poster) }}"
                  alt="{{ serie.name }} | #{{ season.number }}">
        <div>
            <h4>#{{ season.number }}</h4>
            <div>{{ season.firstAirDate | date("d/m/Y") }}</div>
            <div>{{ season.overview | nl2br }}</div>
        </div>
    </article>
        {% endfor %}
    </div>
{% endblock %}

{% block extrastyles %}
    <style>
        body{
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
            url("{{ asset('images/backdrops/' ~ serie.backdrop) }}");
        }
    </style>

{% endblock %}
{% block extrajs%}
<script>
    let buttons = Array.from(document.querySelectorAll(".btn-Like"));
    buttons.forEach(function(button){
        button.addEventListener("click", function(){
            let value=this.value;
            let data ={like: value};

            fetch('{{ path('api_series_update', {'id':serie.id}) }}',{method:'PUT', body:JSON.stringify(data)})
                .then(response => response.json())
                .then(data=>{
                    document.getElementById('serie-like').innerText =data.nblike;
                    console.log(data)
                });
        })
    })
</script>
{% endblock %}

