{% extends 'base.html.twig' %}

{% block body %}
    <h2>Détail of a TV-SHOW</h2>

    <div class="serie-details">
        <div>
            <img  class="img-details" src="{{ asset('images/posters/series/' ~ serie.poster) }}" alt="{{ serie.name }}">
        </div>
        <div class="serie-details-infos">
            <h2>{{ serie.name }}</h2>
            <div>User ratings : {{ serie.vote }}</div>
            <div>Categorized in {{ serie.genres }}</div>
            <div>Status : {{ serie.status }}</div>
            <div>Aired from {{ serie.firstAirDate | date('Y/m/d') }} to {{ serie.lastAirDate | date('Y/m/d') }}</div>
            <div>{{ serie.overview | nl2br }}</div>
        </div>
    </div>

{% endblock %}

{% block extrastyles %}
    <style>
        body{
            background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)),
            url("{{ asset('images/backdrops/' ~ serie.backdrop) }}");
        }
    </style>
{% endblock %}

