<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('series_list') }}">list of series</a></li>
        <li><a href="{{ path('series_create') }}">Add a show</a></li>
        <li><a href="{{ path('season_add') }}">Add a season</a></li>
    </ul>
</nav>
