<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('series_list') }}">list of series</a></li>
        {% if app.user %}
        <li><a href="{{ path('series_create') }}">Add a show</a></li>
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('season_add') }}">Add a season</a></li>
        {% endif %}
        <li><a href="{{ path('app_logout') }}"> Logout</a></li>
        {% else %}
        <li><a href="{{ path('app_login') }}"> Login</a></li>
        <li><a href="{{ path('app_register') }}"> register</a></li>
        {% endif %}
    </ul>
</nav>
