<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SERIES{% endblock %}</title>
         <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
        <link rel="shortcut icon" href="{{ asset('images/icon.png') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    </head>
    <body>
    <div class="container">
    <header>
        <a href={{ path('main_home') }}><img src="{{ asset('images/logo.svg') }}" alt="logo series"></a>
        {% include "views/nav/file.html.twig" %}
    </header>
    <main>
        {% block body %}{% endblock %}
    </main>
    <footer> {% include "views/nav/file.html.twig" %}</footer>
    </div>
    {% block extrastyles %} {% endblock %}
    </body>
</html>
